#extends("./layout.vm")

#block("body_content")

#widget('../../widget/list/list.vm','var:names=$names')

<div class="wrap">
    <h4>中奖名单</h4>
    #renderNav($names)
    <p>共$names.size()人</p>
</div>

#end

#block("script_content")
#script("../../static/js/example/main.js")#end
#end

## 需要依赖一下自己，否则该 vm 中依赖没法自动加载进来。
#end
